
{% extends "base.html.tera" %}

{% block title %}
    
{% endblock title %}
{% block content %}
<div id="homes">
    <div id="homes_main">
        <div id="homes_left">
            <img>
            {% include 'partials/nav.html.tera' %}
        </div>
        <div id="homes_right">
            <video></video>
        </div>
    </div>
    <p>Copyright &copy; Master Page 2020 all rights reserved.</p>
</div>
{% endblock content %}